# Postgres + prisma
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence
POSTGRES_DB=transcendence

# Access from backend
LOCAL_DATABASE_URL=postgresql://transcendence:transcendence@localhost:5432/transcendence?schema=public
DATABASE_URL=postgresql://transcendence:transcendence@database:5432/transcendence?schema=public

# Login/Auth
JWT_SECRET=transcendence
