# For prod, remove port and add https
FRONTEND_ORIGIN=http://localhost:5173/

# Postgres + prisma
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=transcendence
POSTGRES_DB=transcendence

# Access from backend
LOCAL_DATABASE_URL=postgresql://transcendence:transcendence@localhost:5432/transcendence?schema=public
DATABASE_URL=postgresql://transcendence:transcendence@database:5432/transcendence?schema=public

# Login/Auth
JWT_SECRET=transcendence
GOOGLE_CLIENT_ID=replace_with_real_value
GOOGLE_CLIENT_SECRET=replace_with_real_value
FORTYTWO_CLIENT_ID=replace_with_real_value
FORTYTWO_CLIENT_SECRET=replace_with_real_value
GITHUB_CLIENT_ID=replace_with_real_value
GITHUB_CLIENT_SECRET=replace_with_real_value
